@use 'global' as *;

.c-btn {
    display: block;
    font-size: rem(16);
    line-height: calc(23 / 16);
    color: $white;
    border-radius: rem(30);
    font-weight: 500;
    letter-spacing: .53px;
    white-space: nowrap;
}

.c-btn.c-btn--pink {
    background-color: $btn_pink;
    padding: rem(16) rem(57) rem(16) rem(44);
}