@use 'global' as *;

.c-card {
    background-color: $white;
    border-radius: rem(16);
}

.c-card__inner {
    position: relative;
    max-width: rem(400);
    margin: 0 auto;
    padding: rem(40);
    height: 100%;
}

.c-card__title {
    font-size: rem(20);
    font-weight: 400;
    line-height: calc(29/20);
    text-align: center;
    margin-bottom: rem(32);
}

.c-card__img {
    margin-bottom: rem(16);
}

.c-card__text {
    font-size: rem(15);
    font-weight: 400;
    line-height: calc(27/15);
    margin-bottom: rem(15);
}

.c-card__btn {
    position: absolute;
    padding: rem(24) 0;
    padding: rem(24) rem(35);
    white-space: initial;
    background-color: $logo_green;
    max-width: rem(240);
    text-align: center;
    border-radius: rem(50);
    margin: 0 auto;
    bottom: rem(19);
    min-width: rem(240);
    min-height: rem(71);
    left: 0;
    right: 0;
    bottom: rem(-36);
}

.c-card__btn::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 10px;
    top: calc(50% - 1px);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1.5rem;
    background: url(../images/btn-arrow.svg) no-repeat center center/cover;
}