@use 'global' as *;

.c-section-title {
    font-weight: 500;
    font-size: rem(28);
    line-height: calc(41 / 28);
    white-space: nowrap;
}

.c-section-title::after {
    content: attr(data-ruby);
    display: block;
    font-weight: 500;
    font-size: rem(12);
    line-height: calc(17 / 12);
    margin-top: rem(12);
    text-transform: uppercase;
}