@use 'global' as *;

.p-feature {
    background: $bg_yellow_green;
    background: linear-gradient(to bottom, #fafdf2 0%, #fafdf2 74.5%, #fff 74.5%, #fff 100%);
}

.p-feature__inner {
    padding-top: rem(60);
    padding-bottom: rem(60);
    max-width: rem(590);

    @include mq(md) {
        max-width: rem(1330);
        padding-top: rem(120);
        padding-bottom: rem(120);
    }
}

.p-feature__title {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    margin-bottom: rem(40);

    @include mq(md) {
        max-width: rem(300);
        margin-bottom: rem(59);
    }
}

.p-feature__box {
    position: relative;
    margin-bottom: rem(30);
    border-radius: rem(16);
    overflow: hidden;

    @include mq(md) {
        padding: rem(64) rem(80) rem(62);
        margin-bottom: rem(80);
        border-radius: 0;
    }
}

.p-feature__box+.p-feature__box {
    margin-bottom: rem(40);

    @include mq(md) {
        margin-bottom: rem(64);
    }
}

.p-feature__text {
    background-color: $white;
    box-shadow: 0 rem(10) rem(20) 0 rgba(210, 233, 145, 0.1);
    padding: rem(30);
    z-index: 2;

    @include mq(md) {
        border-radius: rem(16);
        min-height: rem(269);
        padding: rem(57) rem(56) rem(56);
        position: relative;
        max-width: rem(509);
    }
}

.p-feature__text--right {
    @include mq(md) {
        margin-left: auto;
    }
}

.p-feature__text-title {
    font-size: rem(16);
    font-weight: 400;
    line-height: calc(30/20);
    margin-bottom: rem(15);

    @include mq(md) {
        font-size: rem(20);
    }
}

.p-feature__text-title span {
    border-radius: 2px;
    background: linear-gradient(transparent 75%, rgba(210, 233, 145, 0.5) 25%);
    background-position: 0px -2px;
}

.p-feature__explanation {
    font-size: rem(13);
    font-weight: 400;
    line-height: calc(27/15);

    @include mq(md) {
        font-size: rem(15);
    }
}

.p-feature__img {
    height: 100%;
    max-width: rem(950);
    overflow: hidden;
    min-height: rem(229);

    @include mq(md) {
        border-radius: rem(16);
        position: absolute;
        right: 0;
        top: 0;
    }
}

.p-feature__img--left {
    @include mq(md) {
        right: auto;
        left: 0;
    }
}

.p-feature__img img {
    min-height: rem(229);
    height: 100%;
    object-fit: cover;
}

.p-feature__btn {
    position: relative;
    max-width: rem(280);
    margin: 0 auto;
    padding: rem(20);
    background-color: $logo_green;
    border-radius: rem(50);

    @include mq(md) {
        max-width: rem(384);
        padding: rem(24);
    }
}

.p-feature__btn::after {
    display: none;

    @include mq(md) {
        position: absolute;
        content: "";
        width: rem(7);
        height: rem(13);
        top: 50%;
        transform: translateY(-50%);
        right: rem(28);
        background: url(../images/btn-arrow.svg) no-repeat center center/cover;
        transition: .3s !important;
    }
}

.p-feature__btn:hover::after {
    right: rem(16);
}