@use 'global' as *;

.p-header {
    background-color: $white;
}

.p-header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: rem(24);
    padding-bottom: rem(24);
}

.p-header__logo {
    width: rem(157);
    height: rem(52);
    padding-top: 1px;
}