@use 'global' as *;

.p-header-menu__items {
    display: flex;
    align-items: center;
    min-height: rem(103);
    height: 100%;
}

.p-header-menu__item {
    font-weight: 400;
    font-size: rem(15);
    line-height: calc(25/15);
    height: 100%;
}

.p-header-menu__item a {
    display: flex;
    align-items: center;
    height: 100%;
    letter-spacing: .04em;
    padding: rem(24) rem(16);
}

.p-header-menu__button {
    position: relative;
    width: rem(170);
    font-size: rem(16);
    letter-spacing: .53px;
    margin-left: rem(15);
}

.p-header-menu__button::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 10px;
    top: calc(50% - 1px);
    transform: translateY(-50%);
    right: rem(24);
    background: url(../images/btn-arrow.svg) no-repeat center center/cover;
}