@use 'global' as *;

.p-header-menu__items {
    display: flex;
    align-items: center;
    gap: rem(32);
}

.p-header-menu__item {
    font-weight: 400;
    letter-spacing: .53px;
    font-size: rem(15);
    line-height: calc(25 / 15);
}

.p-header-menu__button {
    position: relative;
    width: rem(170);
    font-size: rem(16);
    letter-spacing: .53px;

}

.p-header-menu__button::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 10px;
    top: calc(50% - 1px);
    transform: translateY(-50%);
    right: rem(24);
    background: url(../images/btn-arrow.svg) no-repeat center center/cover;
}