@use 'global' as *;

.p-info {
    background: url(../images/info.svg) repeat-x rem(25) 0;
    background-size: rem(100) 100%;
}

.p-info__head {
    display: flex;
    flex-direction: column;
    padding: 0 rem(20);
    max-width: rem(414);
    margin: 0 auto;

    @include mq(md) {
        padding: 0;
        max-width: rem(959);
        align-items: initial;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto rem(32);
    }
}

.p-info__head-inner {
    margin-bottom: rem(20);

    @include mq(md) {
        margin-bottom: 0;
    }
}

.p-info__logo {
    width: rem(130);
    height: rem(43);
    margin-bottom: rem(10);

    @include mq(md) {
        width: rem(157);
        height: rem(52);
        margin-bottom: rem(16);
    }
}

.p-info__tel {
    font-size: rem(42);
    line-height: 1;
    letter-spacing: .03em;
    margin-bottom: rem(5);
    font-weight: 400;

    @include mq(md) {
        font-size: rem(58);
        margin-bottom: rem(8);
    }
}

.p-info__tel span {
    font-size: rem(24);
    line-height: 1;
    letter-spacing: .03em;
    margin-right: rem(4);

    @include mq(md) {
        margin-right: rem(7);
        font-size: rem(32);
    }
}

.p-info__address {
    font-size: rem(12);
    line-height: calc(17/12);
    font-weight: 400;
    letter-spacing: .04em;

    @include mq(md) {
        font-size: rem(16);
        line-height: calc(29/16);
    }
}

.p-info__address-explanation {
    @include mq(md) {
        display: none;
    }
}

.p-info__hours {
    border: solid 1px $line_grey;
    background-color: $white;
    border-radius: rem(4);
    box-shadow: 0 rem(10) rem(20) 0 rgba(142, 207, 196, 0.10);
    max-width: rem(459);
    padding: rem(10) rem(20) rem(7);
    margin-bottom: rem(20);

    @include mq(md) {
        min-height: rem(181);
        margin-bottom: 0;
        min-height: rem(181);
        max-width: rem(459);
        margin-top: rem(-9);
        padding: rem(16) rem(28) rem(9);
    }
}

.p-info__map {
    width: 100%;
    height: rem(250);
    margin-bottom: rem(20);

    @include mq(md) {
        height: rem(300);
        margin-bottom: rem(32);
    }
}

.p-info__contact-box {
    display: grid;
    grid-row-gap: rem(20);
    gap: rem(20) 0;
    max-width: rem(454);
    margin: 0 auto;
    padding: 0 rem(20);

    @include mq(md) {
        max-width: initial;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 0 rem(40);
        padding: 0;
    }
}