@use 'global' as *;

.p-menu__inner {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    @include mq(md) {
        display: contents;
    }
}

.p-menu__items {
    margin: rem(100) auto rem(50);
    max-width: fit-content;

    @include mq(md) {
        display: flex;
        align-items: center;
        height: 100%;
        margin: initial;
    }
}

.p-menu__item {
    font-weight: 400;
    font-size: rem(15);
    line-height: calc(25/15);
    height: 100%;
    letter-spacing: .0375em;
    margin-bottom: 20px;

    @include mq(md) {
        margin-bottom: 0;
    }
}

.p-menu__item-core {
    display: flex;
    justify-content: center;
    transition: .3s !important;

    @include mq(md) {
        align-items: center;
        height: 100%;
        padding: rem(15) rem(16);
    }
}

.p-menu__item-core:hover {
    @include mq(md) {
        opacity: 1;
    }
}

.p-menu__item span {
    position: relative;
}

.p-menu__item span::after {
    @include mq(md) {
        position: absolute;
        bottom: rem(10);
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #8ECFC4;
        opacity: 0;
        visibility: hidden;
        transition: .5s !important;
    }
}

.p-menu__item:hover span::after {
    opacity: 0;
    animation: border .8s ease-out forwards !important;
}

.p-menu__item:hover span::after {
    bottom: rem(-10);
    visibility: visible;
}

@keyframes border {
    0% {
        opacity: 0;
        transform: translateY(rem(15));
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.p-menu__button {
    position: relative;
    width: rem(170);
    font-size: rem(16);
    letter-spacing: .53px;

    @include mq(md) {
        margin-left: rem(15);
    }
}

.p-menu__button::after {
    display: none;

    @include mq(md) {
        display: inline-block;
        position: absolute;
        content: '';
        width: rem(6);
        height: rem(10);
        top: calc(50% - 1px);
        transform: translateY(-50%);
        right: rem(24);
        background: url(../images/btn-arrow.svg) no-repeat center center/cover;
        transition: .3s !important;
    }
}

.p-menu__button:hover::after {
    right: rem(12);
}