@use 'global' as *;

.p-mv__inner {
    position: relative;
    max-width: rem(1440);
    margin: 0 auto;
}

.p-mv__body {
    display: flex;
    align-items: stretch;
    height: rem(400);

    @include mq(md) {
        height: rem(600);
    }
}

.p-mv__left-box {
    display: none;

    @include mq(md) {
        display: block;
        width: 8.35%;
        background: linear-gradient(to bottom, #fff 0%, #fff 61.8%, #fafdf2 61.8%, #fafdf2 100%);
        flex: 1;
        margin-left: calc(50% - 50vw);
    }
}

.p-mv__title-box {
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url(../images/mv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: rem(121) 0 0 0;

    @include mq(md) {
        width: 83.3%;
    }
}

.p-mv__title {
    font-size: clamp(1.1875rem, 0.769rem + 1.7857vw, 1.625rem);
    margin-left: clamp(1.25rem, -4.729rem + 25.5102vw, 7.5rem);
    font-weight: 400;
    line-height: calc(51/32);
    letter-spacing: .04em;

    @include mq(md) {
        margin-left: 18.65%;
        font-size: rem(32);
    }
}

.p-mv__title::after {
    content: attr(data-title);
    display: block;
    font-weight: 400;
    line-height: calc(23/16);
    letter-spacing: 0;
    font-size: clamp(0.625rem, 0.3261rem + 1.2755vw, 0.9375rem);
    margin-top: 3px;

    @include mq(md) {
        margin-top: rem(16);
        font-size: rem(16);
    }
}

.p-mv__copyright-box {
    display: none;

    @include mq(md) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8.35%;
    }
}

.p-mv__copyright {
    font-size: rem(10);
    font-weight: 400;
    letter-spacing: .14em;
    line-height: calc(16/10);
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-bottom: rem(114);
}