@use 'global' as *;

.p-news {
    background-color: $white;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 rem(10) rem(20) 0 rgba(210, 233, 145, 0.1);
}

.p-news__title {
    flex-shrink: 0;
    text-transform: uppercase;
    margin-right: rem(40);

    @include mq(md) {
        margin-right: rem(30);
        margin-top: rem(37);
        width: rem(120);
        margin-right: rem(146);
    }
}

.p-news__items {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mq(md) {
        justify-content: initial;
        margin-top: rem(36);
    }
}

.p-news__item+.p-news__item {
    margin-top: rem(10);

    @include mq(md) {
        margin-top: rem(24);
    }
}

.p-news__item a {
    @include mq(md) {
        display: flex;
        justify-content: space-between;
    }
}

.p-news__date {
    font-size: rem(14);
    flex-shrink: 0;
    font-weight: 500;
    line-height: calc(23/16);
    color: $logo_green;
    letter-spacing: .1em;
    max-width: rem(85);

    @include mq(md) {
        font-size: rem(16);
        margin-right: rem(48);
    }
}

.p-news__text {
    font-size: rem(14);
    font-weight: 400;
    line-height: calc(23/16);
    letter-spacing: .1em;
    flex-grow: 1;

    @include mq(md) {
        font-size: rem(16);
    }
}

.p-news__item a:hover {
    opacity: 1;
}

.p-news__item:hover .p-news__text {
    text-decoration-line: underline;
    text-underline-offset: 2px;
    text-decoration-color: #BFBFBF;
}