@use 'global' as *;

.p-news {
    position: relative;
    background-color: $bg_yellow_green;
}

.l-news {
    max-width: 100%;
    width: 100%;

    @include mq(md) {
        max-width: rem(1200);
        width: 83.3%;
        margin: 0 auto;
    }
}

.p-news__body {
    background-color: $white;
    border-radius: rem(8) 0 0 rem(8);
    box-shadow: 0 rem(10) rem(20) 0 rgba(210, 233, 145, 0.1);
    padding: rem(25) rem(20) rem(32);
    width: 100%;

    @include mq(md) {
        position: relative;
        z-index: 20;
        margin-left: auto;
        padding: rem(20) rem(72);
        transform: translateY(rem(-90));
        // width: 100%;
        min-height: rem(182);
        max-width: rem(906);
    }

    .p-news__inner {
        display: flex;
        max-width: rem(500);
        justify-content: left;
        margin: 0 auto;

        @include mq(md) {
            max-width: initial;
        }
    }
}

.p-news__title {
    flex-shrink: 0;
    text-transform: uppercase;
    margin-right: rem(40);

    @include mq(md) {
        margin-right: rem(30);
        margin-top: rem(37);
        width: rem(120);
        margin-right: rem(146);
    }
}

.p-news__items {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mq(md) {
        justify-content: initial;
        margin-top: rem(36);
    }
}

.p-news__item+.p-news__item {
    margin-top: rem(10);

    @include mq(md) {
        margin-top: rem(24);
    }
}

.p-news__item a {
    @include mq(md) {
        display: flex;
        justify-content: space-between;
    }
}

.p-news__date {
    font-size: rem(14);
    flex-shrink: 0;
    font-weight: 500;
    line-height: calc(23/16);
    color: $logo_green;
    letter-spacing: .1em;
    max-width: rem(85);

    @include mq(md) {
        font-size: rem(16);
        margin-right: rem(48);
    }
}

.p-news__text {
    font-size: rem(14);
    font-weight: 400;
    line-height: calc(23/16);
    letter-spacing: .1em;
    flex-grow: 1;

    @include mq(md) {
        font-size: rem(16);
    }
}

.p-news__item a:hover {
    opacity: 1;
}

.p-news__item:hover .p-news__text {
    text-decoration-line: underline;
    text-underline-offset: 2px;
    text-decoration-color: #BFBFBF;
}