@use 'global' as *;

.p-service {
    background: $bg_yellow_green;
}

.p-service__inner {
    padding: rem(60) rem(20);

    @include mq(md) {
        padding: rem(30) rem(25) rem(172);
    }
}

.p-service__title {
    width: fit-content;
    max-width: rem(300);
    text-align: center;
    margin: 0 auto rem(40);

    @include mq(md) {
        margin: 0 auto rem(60);
    }
}