@use 'global' as *;

.l-info {
    margin: 0 auto;
    padding-top: rem(80);
    padding-bottom: rem(80);

    @include mq(md) {
        max-width: rem(1040);
        padding-top: rem(129);
        padding-bottom: rem(120);
    }
}